/*
CTC Separate Stylesheet
Updated: 2024-01-08 17:25:30
*/

#wrapper {
    padding-left: 0px !important;
}
.col-2cl .s1 {
    -moz-box-shadow: unset;
    -webkit-box-shadow: unset;
    -o-box-shadow: unset;
    box-shadow: unset;
}
.blog-single-meta li a {
    display: none;
}
@media only screen and (max-width: 719px) {
#wrapper {
    overflow: clip;
}
}
